*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ------------------------------header -------------------*/



.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1rem;
  }
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(233, 202, 24);
}






/* ------------varios----------*/



h1 {
  color: rgb(221, 164, 8);
  margin-left: 150px;
  margin: 50px;
}

h2 {
  font-size: 0.75rem;
}
p {
  font-size: 1rem;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
form {
  display: inline;
}
section.product_info {
  background-color: rgb(196, 196, 196);
  border: dotted;
  border-color: rgb(170, 170, 170);
  padding: 5px;
  margin: 20px;
}

div.contact {
  padding: 10px;
  margin: 50px;
  text-align: center;
}

section.foto__producto {
  text-align: center;
}
section.foto__producto img {
  margin: 40px;
  padding: 3px;
  border: solid 4px black;
}



