form {
	input {
		color: $white;
		padding: 5px;
	}
	textarea {
		color: $white;
	}
	option {
		color: $white;
	}
	select {
		background-color: $black;
		color: $white;
	}
}
input {
	background-color: $black;
}
textarea {
	background-color: $black;
}
option {
	background-color: $black;
}
div.contact {
    padding: 10px;
    margin: 50px;
    text-align: center;
}
div.mapa {
	padding: 40px;
	text-align: center;
}
