form {
    display: inline;
    font-size: $font_small;
    text-transform: uppercase;
    input {
        color: $gray;
    }
    .btn {
        background-color: $black;
        border-radius: 0%;
        color: $white;
        font-size: $font_small;
        font-weight: $bold-weight;
        margin-top: 20px;
        text-transform: uppercase;
            &:hover {
                color: $ocre;
            }
    }
    .checkbox-inline {
        padding-right: 1rem;
        text-align: center;
    }
    .form-control {
        border-color: $black;
        border-radius: 0px;
        font-size: $font_small;
            &:focus {
                border-color: $black;
                box-shadow:0 0 5px .1rem $gray;
            }
    }
    .required {
        color: $darkgray;
        font-size: $font_xsmall;
    }
    .textarea {
        margin-bottom: 0;
    }
    .thank_you {
        margin: 20px;
        padding: 100px 40px 100px;
        text-align: center;
        }
    .w3-modal {
        width: 100%;
    }
}
