div.slider {
    background-color: $lightgray;
    h2 {
        font-size: $font_medium;
    }
    .items {
        width: 90%;
        margin: 0px auto;
    }
    .slick-slide {
        margin: 10px
    }
    .slick-slide img {
        width: 100%;
        border: 0px solid #fff;
    }
}