div.slider {
    background-color: $lightgray;
    .items {
        margin: 0px auto;
        width: 90%;
    }
    .slick-slide {
        margin: 10px;
        img {
        width: 100%;
        border: 0px solid #fff;
        }
    }
}
h2.productos_destacados {
    border-bottom: solid 1px $darkgray;
    font-size: $font_medium;
}
.hovereffect {
	background: $darkgray;
	cursor: default;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
	.overlay {
		height: 100%;
		left: 0;
		overflow: hidden;
		padding: 50px 20px;
		position: absolute;
        top: 0;
        width: 100%;
	}
	img {
        display: block;
        max-width: none;
		position: relative;
		width: calc(100% + 20px);
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: translate3d(-10px,0,0);
		transform: translate3d(-10px,0,0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	&:hover {
		img {
			opacity: 0.4;
			filter: alpha(opacity=40);
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}
		h2 {
			&:after {
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}
		}
		a {
			opacity: 1;
			filter: alpha(opacity=100);
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}
		p {
			opacity: 1;
			filter: alpha(opacity=100);
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}
	}
	h2 {
		background-color: $black;
		color: #fff;
        font-size: $font_medium;
		overflow: hidden;
		padding: 0.5em 0;
        position: relative;
        text-align: center;
		text-transform: uppercase;
		&:after {
            background: #fff;
			bottom: 0;
			height: 2px;
            left: 0;
            position: absolute;
			width: 100%;
			content: '';
			-webkit-transition: -webkit-transform 0.35s;
			transition: transform 0.35s;
			-webkit-transform: translate3d(-100%,0,0);
			transform: translate3d(-100%,0,0);
		}
	}
	a {
		color: #FFF;
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: translate3d(100%,0,0);
		transform: translate3d(100%,0,0);
	}
	p {
		color: #FFF;
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: translate3d(100%,0,0);
		transform: translate3d(100%,0,0);
	}
}
