h1 {
    color: $black;
    text-transform: uppercase;
    font-size: $font_xl;
    font-weight: $bold-weight;
    padding-bottom: 0.5rem;
    letter-spacing: 3px;
  }

  form {
    display: inline;
  }
  section.product_info {
    background-color: $darkgray;
    border: dotted;
    border-color: $gray;
    padding: 5px;
    margin: 20px;
  }
  
 
  section.foto__producto {
    text-align: center;
  }
  section.foto__producto img {
    margin: 40px;
    padding: 3px;
    border: solid 4px$black;
  }
  
