h1 {
    color: $black;
    text-transform: uppercase;
    font-size: $font_xl;
    font-weight: $xbold-weight;
    padding-bottom: 1rem;
    letter-spacing: 3px;
  }
  
  h2 {
    font-size: $font_small;
  }
  form {
    display: inline;
  }
  section.product_info {
    background-color: $darkgray;
    border: dotted;
    border-color: $gray;
    padding: 5px;
    margin: 20px;
  }
  
 
  section.foto__producto {
    text-align: center;
  }
  section.foto__producto img {
    margin: 40px;
    padding: 3px;
    border: solid 4px$black;
  }
  

  div.ban {
    background-color:$black;
    color:$white;
    margin: auto;
    text-transform: uppercase;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  p.banner {
    animation: banner 7s infinite linear;
    display: inline-block;
    text-align: center;
  }
  