//-----------------------GENERALES-------------------------------//
h1, h2, h3 , h4, h5, h6, p, footer, nav, form, input, option, textarea {
    font-family: Montserrat, 'Gill Sans', Arial, sans-serif;
}
html, body {
    overflow-x: hidden;
  }
body {
    width: 100%;
}


@import 'variables';

@import 'header';

@import 'footer';

@import 'contact';

@import 'gallery';

@import 'homepage';

@import 'individual_product';